#
# This is the DMA SHM matrix, defining the task DMA SHM declaration
# permissions for current tasks. You can set it
# using the following:
# - DMA SHM declaration are read line by line, emiter at left
# - DMA SHM peer are read column by column, peer at top
# - if the value of a cell is set to 1, the share is allowed
# - any other value means that the share is not allowed
#
# This matrix is converted into a static const matrix in
# C and Ada defining the permissions of all tasks
#

comment "--------- SDIO  USB CRYPTO SMART PIN   DFUUSB   DFUSMART  DFUCRYPTO DFUFLASH"
comment "SDIO       [#]  [ ]  [1]    [ ]  [ ]     [ ]      [ ]       [ ]       [ ]"
comment "USB        [ ]  [#]  [1]    [ ]  [ ]     [ ]      [ ]       [ ]       [ ]"
comment "CRYPTO     [1]  [1]  [#]    [ ]  [ ]     [ ]      [ ]       [ ]       [ ]"
comment "SMART      [ ]  [ ]  [ ]    [#]  [ ]     [ ]      [ ]       [ ]       [ ]"
comment "PIN        [ ]  [ ]  [ ]    [ ]  [#]     [ ]      [ ]       [ ]       [ ]"
comment "DFUUSB     [ ]  [ ]  [ ]    [ ]  [ ]     [#]      [ ]       [1]       [ ]"
comment "DFUSMART   [ ]  [ ]  [ ]    [ ]  [ ]     [ ]      [#]       [ ]       [ ]"
comment "DFUCRYPTO  [ ]  [ ]  [ ]    [ ]  [ ]     [1]      [ ]       [#]       [1]"
comment "DFUFLASH   [ ]  [ ]  [ ]    [ ]  [ ]     [ ]      [1]       [1]       [#]"

